/* .dbg-Border , .dbg-Border * {
    box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  } */
  
  html,body{ 
    text-align: center;
    color: #707070; 
    margin: 0;
    background-color: #EDFFDB;
    font-family: 'Sawarabi Mincho', sans-serif;
  }

/* ヘッダー */
.header {
  background-color: white;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0
  z-index: 3;
}
  .header-Heading {
    width: 350px;
    height: 55px;
    margin: 10px 10px 10px 50px;
  }
    /* みどりの書簡のロゴ */
    .midori {
      height: 100%;
    }
  .top-icon-inputs {
    display: flex;
    margin: 0px 20px;
  }
    .top-icon {
      width: 98%;
      margin: 17px 10px 0px 10px;
    }
/* ヘッダー終了 */

.green-frame {
    width: 98%;
    padding:5px;
    z-index: 1;
}
.test {
  padding-top: 90px;
}
.first-line {
  z-index: 2;
}

.watch {
    font-size: 20pt;
    padding: 30px 0px;
}

/* 画像を切り取る */
div.cut img {
  position: absolute;
  clip: rect(3px, 561px, 59px, 3px);
}
div.cut {
  width: 310px;
  bottom: -20px;
  position: relative;
}

/* test */
.letter-container-inner {
  position: relative;
}

p {
  margin-top: 100px;
  font-size: 50px;
}