/* .dbg-Border , .dbg-Border * {
    box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  } */
  
  html,body{ 
    text-align: center;
    color: #707070; 
    margin: 0;
    background-color: #EDFFDB;
    font-family: 'Sawarabi Mincho', sans-serif;
  }

/* ヘッダー */
.header {
  background-color: white;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
  .header-Heading {
    width: 350px;
    height: 55px;
    margin: 10px 10px 10px 50px;
  }
    /* みどりの書簡のロゴ */
    .midori {
      height: 100%;
    }
  .top-icon-inputs {
    display: flex;
    margin: 0px 20px;
  }
    .top-icon {
      width: 98%;
      margin: 17px 10px 0px 10px;
    }
/* ヘッダー終了 */

/* 手紙の一行目たち */
.first_lines {
    width: 98%;
    padding:5px;
    z-index: 1;
}
.line {
  z-index: 2;
}
.empty {
  margin-top: 90px;
}

/* 画像を切り取る */
div.cut img {
  position: absolute;
  clip: rect(3px, 561px, 59px, 3px);
}
div.cut {
  width: 270px;
  bottom: -25px;
  position: relative;
  z-index: 1;
}

/* トップへ戻るボタン */
.letter_innner {
  position: relative;
  overflow: hidden;
  bottom: 0px;
}
.return_top {
  width: 10%;
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  position: fixed;
}

/* test */
.letter-container-inner {
  position: relative;
}

p {
  margin-top: 100px;
  font-size: 50px;
}

/* もっと見る実装 */
.readmore{
  position: relative;
  box-sizing: border-box;
}
.readmore-content{
  position: relative;
  overflow: hidden;
  /*以下お好み*/
  /*高さの初期値*/
  height: 1800px;
}
.readmore-content::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  /*以下お好み グラデーションの色と高さ 高さはreadmoreのheight以下にすること*/
  height: 50px;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 50%, #fff 100%);
}
/* 続きを読むボタン */
.readmore-label{
  display: table;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: 0 auto;
  z-index: 2;
  padding: 0 10px;
  color: #2771BA;
}
.readmore-label:before{
  content: 'もっと見る';
}

.readmore-check{
  display: none;
}
/*チェック時にボタンを非表示*/
.readmore-check:checked ~ .readmore-label{
  position: static;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  /* 「続きを読む」を押した後、元に戻す必要がない場合は、上のオプションを消してこの1行だけにする */
  /* display: none; */
}
.readmore-check:checked ~ .readmore-label:before{
  content: 'もとに戻す';
}
/*チェック時に高さを自動に戻す*/
.readmore-check:checked ~ .readmore-content{
  height: auto;
}
/*チェック時グラデーション等を削除*/
.readmore-check:checked ~ .readmore-content::before {
  display: none;
}