/* .dbg-Border , .dbg-Border * {
    box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  } */
  
  html,body{ 
    text-align: center;
    color: #707070; 
    margin: 0;
    background-color: #EDFFDB;
    font-family: 'Sawarabi Mincho', sans-serif;
  }

/* ヘッダー */
.header {
  background-color: white;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
  .header-Heading {
    width: 350px;
    height: 55px;
    margin: 10px 10px 10px 50px;
  }
    /* みどりの書簡のロゴ */
    .midori {
      height: 100%;
    }
  .top-icon-inputs {
    display: flex;
    margin: 0px 20px;
  }
    .top-icon {
      width: 98%;
      margin: 17px 10px 0px 10px;
    }
/* ヘッダー終了 */

/* もっと見る実装 */
.green-frame {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.green-frame::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked + .watch_more {
  display: none; /*チェックされていたら、watch_moreを非表示にする*/
}
.grad-trigger:checked ~ .green-frame {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .green-frame::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}

/* 手紙の一行目たち */
.green-frame {
    width: 98%;
    padding:5px;
    z-index: 1;
}
.line {
  z-index: 2;
}
.empty {
  margin-top: 90px;
}

/* 画像を切り取る */
div.cut img {
  position: absolute;
  clip: rect(3px, 561px, 59px, 3px);
}
div.cut {
  width: 270px;
  bottom: -25px;
  position: relative;
  z-index: 1;
}

/* トップへ戻るボタン */
.letter_innner {
  position: relative;
}
.return_top {
  width: 10%;
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  position: fixed;
}

/* test */
.letter-container-inner {
  position: relative;
}

p {
  margin-top: 100px;
  font-size: 50px;
}