.dbg-Border , .dbg-Border * {
  box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  /* background-color: rgba(27, 9, 9, 0.025); */
}

html,body{ 
  text-align: center;
  color: #707070; 
  margin: 0;
  background-color: #EDFFDB;
  background-image: url("tegami_yama.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 100%;
}

p{
  font-size: 30px;
  margin-bottom: 2em;
}

  /* これを使うと全角スペース1つ分の空白が作れる */
  .big-blank {
    padding-left: 1em;
  }
  /* 一番下の行の余計な空白を消す */
  .no-blank {
    margin-bottom: 0px;
  }

  .small-interval {
    margin-bottom: 10px;
  }

  .small-title {
    margin-bottom: 30px;
    font-size: 40px;
  }

.header {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.header-Heading {
  width: 350px;
  height: 70px;
  text-align: center;
  margin: 21.44px 0px;
}

ul.foo {
    justify-content: space-around;
    padding: 0;
    height: 56px;
    margin-top:30px;
    margin-bottom:30px;
  }
  
ul.foo li {
    width: 200px;
    display: inline-block;
    font-size: 28px;
  }

.midori {
    /* width: 100%; */
    height: 100%;
   }

.how-to-site {
  margin: 100px 0px;
  font-size: 30pt;
}
.write-box {
  height: 100%;
  background: rgba(255,255,255,0.85);
  margin: 0px 250px;
  padding: 50px 50px;
}

.text-box-input {
  font-size: 30pt;
  margin: 25px 0px;
}

.contents {
  margin-bottom: 70px;
}

.title1 {
  margin: 500px 0px 100px 0px;
  font-size: 30pt;
}

.left-aligned {
  text-align: left;
  margin: 100px 120px 30px 120px;
  background-color: rgba(255,255,255,0.85);
}

.how-to-write-inputs {
  padding: 200px 150px;
}