html, body{
  background-color: #EDFFDB;
  margin: 0;
  color: #707070;
}

/* なんか使えるやつ */
.dbg-Border {
  box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  background-color: rgba(204, 204, 204, 0.025);
}

  /* ヘッダー */
  .header {
    background-color: white;
    display: flex;
    justify-content: space-around;
  }

    .header-Heading {
      width: 350px;
      height: 70px;
      text-align: center;
    }

      .midori {
        height: 100%;
      }

    ul.foo {
      justify-content: space-around;
      padding: 0;
      height: 56px;
      margin-top:30px;
      margin-bottom:30px;
      text-align: center;
    }

    ul.foo li {
      width: 200px;
      display: inline-block;
      font-size: 28px;
    }

  /* 手紙の大きい画像 */
  .tegami {
    width: 40%;
    height: 40%;
  }

  /* 情報入力コンテナー */
  .grid-Container {
    display: grid;
  }

    p{
      font-size: 25px;
    }

    .tyuui{
      text-align: center;
    }

    /* このクラスを使うと文字を太字にできる */
    .hutoji{
      font-weight: bold;
    }

    section {
      text-align: center;
    }

  /* 便箋のキャンバス */
  #myCanvas {
    position: relative;
    top: 1000;
    left: 1000;
  }

    /* はじめるのボタン */
    .start {
      width: 30%;
      height: 30%;
      margin: 20px 0px 30px 0px;
    }