html, body{
  background-color: #EDFFDB;
  margin: 0;
  color: #707070;
}

/* なんか使えるやつ */
.dbg-Border, .dbg-Border * {
  box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  background-color: rgba(204, 204, 204, 0.025);
}

  /* ヘッダー */
  .header {
    background-color: white;
    display: flex;
    justify-content: space-around;
  }

    .header-Heading {
      width: 350px;
      height: 70px;
      text-align: center;
    }

      .midori {
        height: 100%;
      }

    ul.foo {
      justify-content: space-around;
      padding: 0;
      height: 56px;
      margin-top:30px;
      margin-bottom:30px;
      text-align: center;
    }

    ul.foo li {
      width: 200px;
      display: inline-block;
      font-size: 28px;
    }

    .inputs {
      padding: 0 100px;
    }

      .inputs-inner {
        display: flex;
      }
     
      .inputs-field 
      {
        display: flex;
      }

  /* 手紙の大きい画像 */
  .tegami {
    width: 40%;
    height: 40%;
  }

  /* 情報入力コンテナー */
  .grid-Container {
    width: 60%;
  }

    /* 名前選択 */
    .grid-top {
      display: flex;
    }
    .input-label-name {
      flex-basis: 4em; 
      /* emは一文字分の幅 */
      flex-shrink: 100; 
    }
    .input-text-name {
      background-color: white;
      font-size: 25px;
    }

    /* 性別と年齢 */
    .inputs-field {
      justify-content: space-between;
      flex-grow: 60;
    }

      /* 性別 */
      .grid-bottom-left {
        flex-shrink: 100; 
        flex-basis: 4em;
        margin: 30px 0px 0px 0px; 
      }

      .select-sex {
        font-size: 23px;
        color: #707070;
        background-color: white;
      }

      /* 年齢 */
      .grid-bottom-light {
        flex-basis: 4em; 
        width: 200;
        flex-shrink: 100; 
        margin: 30px 0px 0px 0px;
      }
        
        .nenrei {
          font-size: 23px;
          background-color: white;
        }

    p{
      font-size: 25px;
    }

    .tyuui{
      text-align: center;
    }

    /* このクラスを使うと文字を太字にできる */
    .hutoji{
      font-weight: bold;
    }

    section {
      text-align: center;
    }

  /* 便箋のキャンバス */
  #myCanvas {
    position: relative;
    top: 1000;
    left: 1000;
  }

    /* はじめるのボタン */
    .start {
      width: 30%;
      height: 30%;
      margin: 20px 0px 30px 0px;
    }