html, body{
  background-color: #EDFFDB;
  margin: 0;
  color: #707070;
}

/* なんか使えるやつ */
.dbg-Border, .dbg-Border * {
  box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  background-color: rgba(204, 204, 204, 0.025);
}

  /* ヘッダー */
  .header {
    background-color: white;
    display: flex;
    justify-content: space-around;
  }

    .header-Heading {
      width: 350px;
      height: 70px;
      text-align: center;
    }

      .midori {
        height: 100%;
      }

    ul.foo {
      justify-content: space-around;
      padding: 0;
      height: 56px;
      margin-top:30px;
      margin-bottom:30px;
      text-align: center;
    }

    ul.foo li {
      width: 200px;
      display: inline-block;
      font-size: 28px;
    }

  .inputs {
    /* padding: 0 10px; */
  }

    .inputs-inner {
      display: flex;
    }

      /* 手紙の大きい画像 */
      .tegami {
        width: 40%;
        height: 40%;
      }

      /* 情報入力コンテナー */
      .info-Container {
        display:flex;
      }

      .info-box {
        align-items: stretch;
      }

          /* 名前選択 */
          .info-name {
            /* display: flex; */
            margin: 10px 0px 10px 0px;
          }
          .info-name2 {
            flex-basis: 4em; 
            /* emは一文字分の幅 */
            flex-shrink: 100; 
          }
          .info-name3 {
            background-color: white;
            font-size: 25px;
          }

        /* 性別と年齢 */
        .info-field {
          justify-content: space-between;
          display: flex;
        }

          /* 性別 */
          .info-sex {
            flex-shrink: 100; 
            
            margin: 10px 0px 10px 0px; 
            flex-grow: 1;
          }

          .info-sex2{
            /* flex-basis: 10em; */
          }

          .info-sex3 {
            font-size: 23px;
            color: #707070;
            background-color: white;
            margin-top: 10;
          }

          /* 年齢 */
          .info-nenrei {
            flex-basis: 4em; 
            width: 200;
            flex-shrink: 100; 
            margin: 10px 0px 10px 0px;
            flex-grow: 1;
          }
            
            .info-nenrei2 {
              font-size: 23px;
              background-color: white;
              flex-basis: 300px;
            }

    p{
      font-size: 25px;
    }

    .tyuui{
      text-align: center;
    }

    /* このクラスを使うと文字を太字にできる */
    .hutoji{
      font-weight: bold;
    }

    section {
      text-align: center;
    }

  .center-line {
    display: flex;
  }

  .write-icon {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .enpitu, .kesigomu, .modoru, .susumu{
    width: 8%;
    margin: 100;
  }


  /* 便箋のキャンバス */
  #myCanvas {
    position: relative;
    top: 1000;
    left: 1000;
  }

    /* はじめるのボタン */
    .start {
      width: 30%;
      height: 30%;
      margin: 20px 0px 30px 0px;
    }