/* .dbg-Border , .dbg-Border * {
    box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  } */
  
  html,body{ 
    text-align: center;
    color: #707070; 
    margin: 0;
    background-color: #EDFFDB;
    font-family: 'Sawarabi Mincho', sans-serif;
  }

  /* ヘッダー */
.header {
  background-color: white;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}
  .header-Heading {
    width: 350px;
    height: 55px;
    margin: 10px 10px 10px 50px;
  }
    /* みどりの書簡のロゴ */
    .midori {
      height: 100%;
    }
  .top-icon-inputs {
    display: flex;
    margin: 0px 20px;
  }
    .top-icon {
      width: 98%;
      margin: 17px 10px 0px 10px;
    }
/* ヘッダー終了 */


.side_by_side {
  display: flex;
}

/* 画像 */
.hello {
  width: 65%;
  padding: 40px 0px 55px 60px;
}
.copy {
  width: 36%;
  height: 36%;
  padding: 25px 30px 25px 0px;
}
.print {
  width: 41%;
  height: 41%;
  padding: 27px 0px 25px 20px;
}
.tegami {
  width: 10%;
  height: 10%;
  background-color: white;
  padding-bottom: 254px;
}
.return {
  width: 17%;
  margin-top: 10px;
}

/* 全角スペース1つ分 */
.double-space {
  padding-left: 1em;
}

/* 他の全角スペース */
.space1 {
  padding-left: 5em;
}
.space2 {
  padding-left: 2em;
}
.space3 {
  padding-left: 3em;
}

/* 背景の色 */
.green1 {
  background-color: #D8E58D;
}
.green2 {
  background-color: #EAF2D1;
}

/* 上の画面 */
.up-inputs {
  margin: 100px 40px 20px 40px;
  font-size: 25px;
  border: solid 1px #65AC69;
  padding: 0px 0px;
  text-align: left;
}

/* 下の画面 */
.down-inputs {
  font-size: 15px;
  margin: 40px 40px 10px 40px;
  padding: 21px 10px 21px 140px;
  background-color: #EAF2D1;
  border: solid 1px #65AC69;
  text-align: left;
}
  .small-title {
    font-size: 21px;
    padding-bottom: 8px;
  }
    .text {
      padding-bottom: 3px;
    }