.dbg-Border, .dbg-Border * {
  box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
  background-color: rgba(204, 204, 204, 0.025);
}

html, body{
  background-color: #EDFFDB;
  margin: 0;
  color: #707070;
  font-family: 'Sawarabi Mincho', sans-serif;
}

 /* ヘッダー */
.header {
  background-color: white;
  display: flex;
}
  .header-Heading {
    width: 350px;
    height: 55px;
    margin: 10px 10px 10px 50px;
  }
    /* みどりの書簡のロゴ */
    .midori {
      height: 100%;
    }
  .top-icon-inputs {
    display: flex;
    margin: 0px 20px;
  }
    .top-icon {
      width: 98%;
      margin: 17px 10px 0px 10px;
    }
/* ヘッダー終了 */

  .inputs {
    /* padding: 0 10px; */
  }

    .inputs-inner {
      display: flex;
    }

      /* 手紙の大きい画像 */
      .tegami {
        width: 28%;
        height: 28%;
      }

      /* 情報入力コンテナー */
      .info-Container {
        display:flex;
        margin: 25px 100px 0px 20px;
        width: 372px; /* 好きな大きさを指定する */
      }
      .info-container-from {
        width: 100%; /* 追加 */
      }
      .info-box {
        /* align-items: stretch; */
        border: solid 3px #65AC69;
      }

          /* 名前選択 */
          .info-name {
            display: flex;
            padding: 5px 0px;
            background-color: #D8E58D;
          }
          .info-name2 {
            padding: 0 0.5em;
            width: 14%;
            flex-basis: 14%
          }
          .info-name3 {
            background-color: white;
            font-size: 15px;
            margin-right: 1em;
            width: 100%;
            flex-basis: 100%;
          }

        /* 性別と年齢 */
        .info-field {
          /* justify-content: space-between; */
          display: flex;
          background-color: #EAF2D1;
        }

          /* 性別 */
          .info-sex {
            display: flex;
            flex-shrink: 100; 
            margin: 5px 0px; 
            flex-grow: 1;
          }

          .info-sex2{
            padding: 0 0.5em;
          }

          .info-sex3 {
            font-size: 13px;
            color: #707070;
            background-color: white;
            padding: 0px 30px 0px 30px;
          }

          /* 年齢 */
          .info-nenrei {
            display: flex;
            flex-basis: 4em; 
            width: 100;
            flex-shrink: 100; 
            margin: 5px 0px;
            flex-grow: 3;
          }

          .info-nenrei-label {
            padding: 0 0.5em;
          }
            
            .info-nenrei2 {
              font-size: 15px;
              background-color: white;
              flex-grow: 1;
              margin-right: 1em;
            }

    p{
      font-size: 15px;
    }

    .tyuui{
      text-align: center;
      margin-bottom: 7px;
      font-size: 15px;
    }

    /* このクラスを使うと文字を太字にできる */
    .bold{
      font-weight: bold;
    }

    section {
      text-align: center;
    }

  .center-line {
    display: flex;
  }
  /* アイコン類 */
  .write-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 45px;
  }

  .write-icon {
    width: 65px;
    height: 65px;
    margin-bottom: 15px;
  }


  /* 便箋のキャンバス */
  #myCanvas {
    position: relative;
    top: 0;
    left: 0;
  }

  .canvas {
    margin-right: -100px;
  }

    /* 送るのボタン */
    .send {
      width: 17%;
      margin: 20px 0px 30px 100px;
    }

.fadeout{
  opacity: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  }
  .fadein{
  opacity: 1;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  }